/****************************************公共组件********************************/
.uni-picker-toggle {
  &.uni-picker-custom {
    border-radius: 24rpx 24rpx 0rpx 0rpx;

    // 解决我要管家背景为黑色问题
    .uni-picker-view-mask {
      background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.6) 100%),
        linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.6) 100%);
    }

    .uni-picker-header {
      height: 116rpx;

      > text {
        display: inline-block;
        color: rgba(24, 25, 26, 1);
        font-weight: 600;
        font-size: var(--tem-font-size-h18);
        line-height: 116rpx;
      }

      .uni-picker-action {
        font-size: var(--tem-font-size-b14);
        color: var(--tem-text-color-regular);
        line-height: 116rpx;

        &.uni-picker-action-confirm {
          color: rgb(14, 109, 250);
        }
      }
    }

    .uni-picker-content {
      .uni-picker-item {
        font-size: var(--tem-font-size-b16);
        color: var(--tem-text-color-regular);
      }
    }
  }
}

/**********************************************uni-loading*****************************************************/
.uni-toast {
  background-color: rgba(0, 0, 0, 0.9);

  .uni-toast__content {
    font-size: var(--tem-font-size-b14);
  }
}


@media screen and (min-width: 500px) and (min-height: 500px) {
  .uni-picker-container .uni-picker-custom {
    // width: 100% !important;
    // left: 0 !important;
    // bottom: 0 !important;
    // top: 400px !important;
    // transform: translate(0, 0) !important;
    // transition: transform 0.3s, visibility 0.3s !important;
  }
}