@import './quick.scss';

// 公共样式
uni-page-body {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

/**********************************************uni-loading*****************************************************/

.uni-toast {
  background-color: rgba(0, 0, 0, 0.9);

  .uni-toast__icon.uni-loading {
    // baim
  }

  .uni-toast__content {
    font-size: var(--tem-font-size-b14);
  }
}
