/****************************************公共组件********************************/
.uni-picker-toggle {
  &.uni-picker-custom {
    border-radius: 24rpx 24rpx 0rpx 0rpx;

    .uni-picker-header {
      height: 116rpx;

      > text {
        display: inline-block;
        color: rgba(24, 25, 26, 1);
        font-weight: 600;
        font-size: var(--tem-font-size-h18);
        line-height: 116rpx;
      }

      .uni-picker-action {
        font-size: var(--tem-font-size-b14);
        color: rgb(48, 49, 51);
        line-height: 116rpx;

        &.uni-picker-action-confirm {
          color: rgb(14, 109, 250);
        }
      }
    }

    .uni-picker-content {
      // .uni-picker-view-indicator {
      //   background-color: rgba(245, 247, 250, 1);
      // }

      .uni-picker-item {
        font-size: var(--tem-font-size-b16);
        color: rgb(48, 49, 51);
      }
    }
  }
}
